{{#if warning_msg}}
<div class="alert alert-warning" role="alert">
  {{warning_msg}}
</div>
{{/if}}

{{#if login_error_msg}}
<div class="alert alert-danger" role="alert">
  {{login_error_msg}}
</div>
{{/if}}

{{#if logout_message}}
<div class="alert alert-success" role="alert">
  {{logout_message}}
</div>
{{/if}}

{{#if errors}}
{{#each errors}}
<div class="alert alert-danger" role="alert">
  {{this.message}}
</div>
{{/each}}
{{/if}}